.move{
  position: absolute;
  left: 0%;
  transition: all 1s;
}

.moved {
  left: 100%;
}

/* USARE MOVE E POI AGGIUNGERE MOVED */

.card.disabled {
  background-color: lightgray;
  font-style: italic;
}